[package]
name = "rich-sdl2-rust"
version = "0.7.2"
authors = ["MikuroXina <ryosukadnak@gmail.com>"]
edition = "2018"
description = "The sdl2 wrapper for Rust."
repository = "https://github.com/MikuroXina/rich-sdl2-rust"
documentation = "https://mikuroxina.github.io/rich-sdl2-rust/rich_sdl2_rust/"
license = "Apache-2.0"
keywords = ["sdl2", "wrapper", "binding"]
categories = ["graphics", "gui", "multimedia", "rendering"]

[features]
default = []
vulkan = ["ash"]
nightly = ["simd_allocator"]
simd_allocator = []

[dependencies]
ash = {version = "0.33.0", optional = true}
bitflags = "1.3.2"
static_assertions = "1.1.0"
typed-builder = "0.9.0"

[build-dependencies]
bindgen = "0.59.1"
flate2 = "1.0.22"
git2 = "0.13.23"
reqwest = {version = "0.11.4", features = ["blocking"]}
tar = "0.4.37"
zip = "0.5.13"
