name: Security audit

on:
  pull_request:
    paths:
      - "**/deny.toml"
      - "**/Cargo.toml"
      - "**/Cargo.lock"

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: cargo-deny
        uses: EmbarkStudios/cargo-deny-action@v1.5.12
