name: Rust

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Nightly with rustfmt and clippy
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: rustfmt, clippy
          override: true

      - name: Build crate
        run: cargo build --verbose
      - name: Clippy Check
        run: cargo clippy --verbose
      - name: Test crate
        run: cargo test --verbose
      - name: Create docs
        run: cargo +nightly doc --all-features --no-deps

      - uses: actions/upload-artifact@v2
        with:
          name: doc-artifact
          path: target/doc/

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Nightly with rustfmt and clippy
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: rustfmt, clippy
          override: true
          target: x86_64-pc-windows-msvc

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose
        env:
          LIBCLANG_PATH: C:\Program Files\LLVM\lib

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose
        env:
          LIBCLANG_PATH: C:\Program Files\LLVM\lib

  doc:
    runs-on: ubuntu-latest
    needs: build-linux
    if: github.event_name == 'push' || github.event.pull_request.merged == true

    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: doc-artifact

      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
